<mat-toolbar>
    <span class="familiar-span">Detalles del Lote</span>
    <span class="example-spacer"></span>
    <span>Código: {{ lote.codigo }}</span>
    <span class="example-spacer"></span>
    <span>Diseño: {{ lote.diseno.nombre }}</span>
    <span class="example-spacer"></span>
    <span>Creación: {{ lote.fecha |  date: 'dd/MM/yyyy' }}</span>
</mat-toolbar>
<app-table
    [showPaginator]="true"
    [columnas]="columnasTabla"
    [dataSource]="dataSource"
    [actionButtons]="actionButtons">
</app-table>