
p{
    text-align: center;
    margin-top: -20px;
}
.codigoQr{
    // position: absolute;
    // top: 142px;
    // display: block;
    margin-top: 63px;
}
.container-qr{
    background-image: url("../../../../assets/images/hueso.png");
    // background-color: red;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: 50% 50%;
    height: 389px;
    width: 267px;
    // padding-top: 30px;
}