<form [formGroup]="form" (submit)="submitForm()">
    <mat-card>
        <mat-card-title>
            <h2>Nuevo Producto</h2>
        </mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="producto" type="text">
            </mat-form-field>
            <button type="button" mat-stroked-button color="primary" class="w-100" (click)="image.click()">Subir Imagen</button>
            <mat-progress-bar color="primary"
                mode="determinate"
                [value]="progress">
            </mat-progress-bar>
            <input hidden type="file" #image mat-raised-button accept="image/*" (change)="uploadImage($event)">
          </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="!data">Crear</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="data">Modificar</button>
            <button mat-raised-button color="warn" mat-dialog-close type="button" (click)="cancel()">Cerrar</button>
        </mat-card-actions>
    </mat-card>
</form>