
<mat-form-field appearance="outline">
    <mat-label>Seleccione tamaño</mat-label>
    <mat-select [formControl]="sizeControl">
        <mat-option *ngFor="let size of sizes" [value]="size">
            {{ size.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<button mat-raised-button color="primary" (click)="downloadQR()">Descargar códigos</button>
<div class="container-qr" #qrs>
    <div *ngFor="let lote of lotes" class="qr"  id="{{lote.id}}">
        <app-qr-image
            [id]="lote.id"
            [qrdata]="('http://56.ar/') + (lote.id)"
            [width]="sizeControl.value?.value"
            [errorCorrectionLevel]="'M'"
        >
        </app-qr-image>
    </div>
</div>