<mat-toolbar>
    <span class="familiar-span">Códigos QR</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        Marco
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let marco of marcos" (click)="onSelectionChange(marco)">
            <img [src]="marco.imagen" height="20" width="20" class="marco"/>{{ marco.descripcion }}
        </button>
    </mat-menu>
    <mat-slide-toggle
          class="example-margin"
          [(ngModel)]="hasLogo">
        Isologo
    </mat-slide-toggle>
    <button mat-button (click)="downloadQR()">
      <span class="material-icons" matTooltip="Descargar Códigos">
        cloud_download
      </span>
    </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
<div class="container-qr" id="plantilla" *ngIf="plantilla === 'hueso'" >
    <div *ngFor="let lote of lotes" class="qr"  id="{{lote.id}}">
        <app-qr-image
            [id]="lote.id"
            [qrdata]="('http://56.ar/') + (lote.id)"
            [errorCorrectionLevel]="'M'"
            [hasLogo]="hasLogo"
            [marco]="marco"
        >
        </app-qr-image>
    </div>
</div>