.container-qr{
    display: flex;
    flex-wrap: wrap;
    width: 4620px;
    background-color: #7f6b64;
    p{
        text-align: center;
        margin-top: -20px;
    }
}
.qr{
    margin: 5px 10px;
}