<div class="container">
    <img src="./assets/images/isologo2.png" alt="isologo" class="isologo">
    <mat-card>
        <div style="text-align:center;">
            <mat-card-title>Ver datos de Emergencia</mat-card-title>
        </div>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código numérico</mat-label>
            <input matInput placeholder="Ingrese el código" name="codigo" [(ngModel)]="codigo">
            <mat-hint></mat-hint>
        </mat-form-field>
        <button mat-stroked-button color="accent" class="boton" routerLink="/{{codigo}}">Ver información</button>
        <mat-card-actions align="end">
            <a [routerLink]="['/']">Ingresar</a>
        </mat-card-actions>
    </mat-card>
</div>