<div class="informacion">
    <mat-card>
        <div style="text-align:center;">
          <mat-card-title>
            Emergencia!
          </mat-card-title>
        </div>
        <div *ngFor="let i of informacion" class="line">
          <a mat-list-item>
            <mat-icon>{{i.icon}}</mat-icon>
            <u>{{i.name}}</u> <a>: </a> {{i.value}}
          </a>
        </div>        
    </mat-card>
</div>
<br>
<div class="acciones">
  <button mat-raised-button color="primary" class="full" [routerLink]="['/login']" (click)="registrar()">Registrar producto</button>
  <br>
  <a [routerLink]="['']">Volver</a>
</div>

