.informacion{
    width: 100vw; 

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .acciones{
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

a{ 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  clear: left;
  text-align: right;
  vertical-align: middle;
  line-height:25px;
}

mat-icon {
  padding: 5px;
  display:inline-block;
  vertical-align:middle;
}

.line{
  flex: 1 1 auto;
  padding: 5px
}

.acciones{
  text-align: center;
  
}

.w-100-mt-1 {
  width: 100%;
  margin-top: 10px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}
.foto-container{
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  position: relative;
}
.foto{
  width: 100%;
  height: auto;
  position: relative;
}
.justify-center{
  justify-content: center;
}
.item-mascota{
  display: flex;
}
.align-start{
  align-items: flex-start;
}