<form [formGroup]="form" (submit)="submitForm()">
    <h2 *ngIf="!data">Nueva Mascota</h2>
    <h2 *ngIf="data">Modificar Mascota</h2>
    <mat-dialog-content class="mat-typography">
        <h3>Datos de la mascota</h3>
        <div class="modal-body">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" type="text">
                <mat-error *ngIf="form.get('nombre')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido" type="text">
                <mat-error *ngIf="form.get('apellido')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Especie</mat-label>
                <input matInput formControlName="especie" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Raza</mat-label>
                <input matInput formControlName="raza" type="text">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Si tiene rasgos caracteristicos, indique cuales</mat-label>
                <textarea matInput formControlName="caracteristicas" type="text"></textarea>
            </mat-form-field>

            <!-- Direcciones -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Domicilio Principal</mat-label>
                <input matInput formControlName="direccion_primaria" type="text">
                <mat-error *ngIf="form.get('direccion_primaria')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Domicilio Alternativo</mat-label>
                <input matInput formControlName="direccion_secundaria" type="text">
                <mat-error *ngIf="form.get('direccion_secundaria')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>

            <!-- Provincia, localidad, código postal -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Provincia</mat-label>
                <input matInput type="text" formControlName="provincia">
                <mat-error *ngIf="form.get('provincia')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Localidad</mat-label>
                <input matInput type="text" formControlName="ciudad">
                <mat-error *ngIf="form.get('localidad')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>

            <!-- Pais -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pais</mat-label>
                <input matInput formControlName="pais">
            </mat-form-field>

            <!-- Telefono -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Teléfono principal</mat-label>
                <input matInput formControlName="telefono_primario" type="text">
                <mat-error *ngIf="form.get('telefono_primario')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Teléfono secundario</mat-label>
                <input matInput formControlName="telefono_secundario" type="text">
            </mat-form-field>

            <!-- otros detalles -->
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Otros datos de interés</mat-label>
                <textarea matInput formControlName="otros" type="text"></textarea>
                <mat-error *ngIf="form.get('otros')?.errors?.['required']">Complete el campo</mat-error>
            </mat-form-field>

            <img [src]="form.get('foto')?.value" class="foto">
            
            <button type="button" mat-stroked-button color="primary" class="example-full-width" (click)="image.click()">Subir Imagen</button>
            <mat-progress-bar color="primary"
                mode="determinate"
                [value]="progress">
            </mat-progress-bar>
            <input hidden type="file" #image mat-raised-button accept="image/*" (change)="uploadImage($event)">

            <mat-checkbox class="example-margin" formControlName="checked" (change)="checkState($event)"><span (click)="openDialog()">He leído y acepto los <span style="color: blue">términos y condiciones</span></span></mat-checkbox>
        </div>
    </mat-dialog-content>   

    <mat-dialog-actions align="end">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="!data">Agregar</button>    
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="data">Modificar</button>    
        <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>    
    </mat-dialog-actions>
</form>
