<app-header></app-header>

 <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="opened">
     <mat-nav-list>
        <a mat-list-item *ngFor="let nav of fillerNav" (click)="seleccion(nav.opcion)">
        <mat-icon>{{nav.icon}}</mat-icon>
        {{nav.name}}
        </a>
        <a mat-list-item class="logout"><mat-icon>logout</mat-icon>
            Salir
        </a>
    
        </mat-nav-list> 
</mat-sidenav>
<mat-sidenav-content>
  <mat-toolbar>
    <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{user}}</span>
  </mat-toolbar>
  <span [ngSwitch]="opcion">
    <span *ngSwitchCase="2"><app-producto></app-producto></span>
    <span *ngSwitchCase="3"><app-familiar></app-familiar></span>
  </span>
</mat-sidenav-content> 
</mat-sidenav-container> 
