<mat-toolbar color="primary">
  <button (click)="opened=!opened" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GEA</span>
  <span class="example-spacer"></span>
  <span class="user">Usuario: {{user}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="over" [(opened)]="opened" #sidenav>
    <div>
      <mat-nav-list *ngFor="let nav of fillerNav" (click)="sidenav.toggle()">
        <a mat-list-item [routerLink]="[nav.path]" *ngIf="nav.admin === usuario.admin">
          <mat-icon>{{nav.icon}}</mat-icon>
          {{nav.name}}
        </a>
      </mat-nav-list>
    </div>
    <mat-nav-list class="logout">
      <a mat-list-item class="logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Salir
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-router">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>