.example-spacer {
    flex: 1 1 auto;

}
mat-sidenav-container {
    height: calc(100vh - 55px);
}
a{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-icon {
    padding: 5px;
}

mat-sidenav {
    width: 250px;
}

.container-router{
    padding: 1.5em;
    height: 80vh;
}
.user{
    font-size: 0.8em !important;
}
::ng-deep .mat-drawer-inner-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}