.example-spacer {
    flex: 1 1 auto;

}

$medium: 1349px;
$large: 1920px;

@media screen and (min-width: $medium) {
    mat-sidenav-container{
        height: 90.5%;
    }
}
@media screen and (min-width: $large) {
    mat-sidenav-container{
        height: 93.5%;
    }
}

a{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mat-icon {
    padding: 5px;
}

mat-sidenav {
    width: 250px;
}

.logout{
    position: absolute;
    bottom: 0; 
}
.container-router{
    padding: 1.5em;
    height: 80vh;
}
.user{
    font-size: 0.8em !important;
}