<h2 mat-dialog-title>Términos y condiciones. Política de
  Privacidad</h2>
<mat-dialog-content class="mat-typography">
  <h3>Alcance</h3>
  <p>El registro y uso de los Servicios Digitales De GEADATA por parte de un
    administrador / usuario (en adelante el Administrador / Usuario/s) indica la
    aceptación absoluta de los presentes Términos y Condiciones y de la Política de
    Privacidad.</p>

  <p>El acceso a los Servicios Digitales de GEADATA es libre y de iniciativa propia. El
    Administrador / Usuario garantiza y declara ser mayor de 18 años, y/o en su caso,
    que tiene la expresa autorización de sus padres o de sus tutores para poder acceder
    al sitio web y que es competente para entender y aceptar sin reservas las
    obligaciones, afirmaciones, representaciones y garantías establecidas en estos
    Términos y Condiciones. Por su parte, la WebApp GEADATA, en adelante “la
    WebAPP”, deslinda su responsabilidad de toda información suministrada por su
    administrador / usuario y toda modificación que se realice en la misma.</p>

  <h3>Administrador/Usuarios, obligaciones, responsabilidad y condiciones</h3>
  <p>El Administrador/Usuario deberá respetar estos Términos y Condiciones de Uso del
    sitio web. Las infracciones por acción u omisión de los presentes Términos y
    Condiciones de Uso generarán el derecho a favor de Geadata de suspender la
    cuenta que las haya realizado.</p>

  <p>El Administrador/Usuario se obliga a usar los Servicios Digitales de conformidad con
    estos Términos y Condiciones, en forma correcta y lícita. En caso contrario,
    GEADATA podrá suspender la cuenta, por considerarlo: violatorio de estos Términos
    y Condiciones y/o de la Política de Privacidad de estos Servicios Digitales, ofensivo,
    ilegal, violatorio de derechos de terceros, contrario a la moral y buenas costumbres
    y amenaza la seguridad de otros Administradores/Usuarios.</p>

  <p>Sin embargo, esta posibilidad no implica necesariamente que el contenido de toda la
    información disponible en los Servicios Digitales haya sido revisado.</p>

  <p>El Administrador/Usuario se compromete a:</p>

  <ul>
    <li>No acceder a datos restringidos o a intentar violar las barreras de seguridad
      para llegar a ellos.</li>
    <li>No realizar búsquedas de vulnerabilidades o explotación de las mismas para
      cualquier fin</li>
    <li>No divulgar información acerca de la detección de vulnerabilidades
      encontradas en los Servicios Digitales.</li>
    <li>Comunicar al responsable de sistema de Geadata toda información a la que
      tenga acceso que pudiera implicar un compromiso a la seguridad de la
      información o los servicios digitales.</li>
  </ul>

  <p>
    La adecuada utilización de todos los recursos de Internet es, sin excepción, de
    entera responsabilidad del Administrador/Usuario de los Servicios Digitales.
  </p>

  <h3>Actividades prohibidas</h3>

  <p>Las siguientes actividades se encuentran expresamente vedadas, sin perjuicio de
    las prohibiciones generales expuestas anteriormente:</p>

  <ul>
    <li>
      Hostigar, acosar, amenazar, acechar, realizar actos de vandalismo hacia otros
Administradores/Usuarios
    </li>
    <li>
      Infringir los derechos a la intimidad de otros Administradores/Usuarios.
    </li>
    <li>Solicitar información personal identificable de otros Administradores/Usuarios
      con el propósito de hostigar, atacar, explotar, violar la intimidad de los
      mismos.</li>
    <li>Publicar de manera intencionada o con conocimiento injurias o calumnias.</li>
    <li>Publicar, con el intento de engañar, contenido que es falso o inexacto.</li>
    <li>Intentar usurpar la identidad de otro Administrador/Usuario, representando de
      manera falsa su afiliación con cualquier individuo o entidad, o utilizar el
      nombre de otro Usuario con el propósito de engañar.</li>
    <li>Promover, defender o mostrar pornografía, obscenidad, vulgaridad,
      blasfemia, odio, fanatismo, racismo y/o violencia.
      </li>
    <li>Vulnerar los derechos establecidos en la Ley N° 25.326 de Protección de
      Datos Personales.</li>
  </ul>

  <p>En caso de sufrir alguna de estas situaciones, deberá comunicarse con el
    responsable de sistemas a través de contacto@geadata.com.ar
  </p>

  <h3>Uso General a través de cuenta en Dat.AR</h3>

  <p>Requiere inscripción previa a través de un formulario en línea que deberá ser
completado por el Administrador/Usuario. De esta forma las personas podrán
inscribirse y crear una contraseña que les permitirá acceder a la plataforma.</p>

  <p>La información personal suministrada por el Administrador/Usuario al momento de
    inscribirse en el sitio web está protegida con una clave y sólo podrá ser modificada
    por el mismo Administrador/Usuario.
  </p>

  <p>El sitio web se reserva el derecho de realizar validaciones en relación a la
    información brindada por el Administrador/Usuario al momento de la inscripción. En
    caso de que la información brindada no pueda validarse, el sistema Web se reserva
    el derecho de no dar de alta a ese Administrador/Usuario.
  </p>

  <p>Al momento de la inscripción , el Administrador/Usuario asume el compromiso y la
    responsabilidad de:</p>

  <ul>
    <li>No proporcionar información personal falsa ni crear cuentas a nombre de
      terceros</li>
    <li>No crear más de una cuenta personal para la administración del o los
      productos adquiridos.
      </li>
    <li>No crear otra cuenta sin permiso expreso del responsable de sistema , en
      caso de que este último haya inhabilitado la cuenta original.
      </li>
    <li>Mantener la información de contacto exacta y actualizada.</li>
    <li>No compartir la contraseña ni permitir a otra persona acceder a su cuenta.
    </li>
  </ul>

  <p>El Administrador/Usuario se compromete a notificar al servidor web de GEADATA
    ante cualquier uso no autorizado de su clave.
    </p>

  <p>El responsable del sistema Web de GEADATA se reserva el derecho de rechazar
    cualquier solicitud de inscripción o de cancelar un registro previamente aceptado.
    </p>

  <h3>Propiedad intelectual</h3>
  <p>La expresión de ideas, procedimientos, métodos de operación y conceptos
    matemáticos de conformidad con lo establecido en el artículo 1º de la Ley 11.723 y
    sus modificatorias, así como las marcas, avisos, nombres comerciales, publicidad,
    dibujos, diseños, logotipos, textos, entre otros, que aparecen en los Servicios
    Digitales GEADATA son propiedad de GEADATA con su producto Dat.AR, excepto
    cuando se declare lo contrario.Todos los derechos se encuentran debidamente
    registrados</p>

  <h3>Modificación de los Términos y Condiciones</h3>
  <p>El responsable de sistemas de GEADATA se reserva el derecho de modificar estos
    Términos y Condiciones en cualquier momento, comprometiéndose a anunciarlo por
    medio de un aviso en su pagina web www.geadata.com.ar</p>

  <h3>Enlaces con otros sitios, productos y servicio</h3>
  
  <p>Los Servicios Digitales GEADATA pueden contener enlaces hacia sitios, productos
    y/o servicios propios y ajenos, no obstante, el responsable de sistemas no
    administra ni controla estos sitios, productos y/o servicios y no es responsable de
    sus contenidos ni de cualquier daño y perjuicio que tales contenidos, productos y
    servicios pudieran causar, por lo que se recomienda la lectura de los Términos y
    Condiciones de cada uno de ellos.
    </p>
  <p>Asimismo, los Servicios Digitales utilizan información provista directamente por el
    Administrador/Usuario, información suministrada por terceros e información cedida
    por otros Organismos en los términos de lo dispuesto por la Ley de Protección de
    Datos Personales Nº 25.326,modificatorias y complementarias. En este último caso,
    el sistema de GEADATA no es responsable por los daños y/o perjuicios que
    pudieran generarse por errores en la información cedida.    
    </p>


  <h3>Ley aplicable y jurisdicción del sitio web</h3>
  <p>Los Términos y Condiciones de Uso aquí presentados se rigen por las leyes de la
    República Argentina. En caso de surgir cualquier controversia respecto de la
    interpretación o cumplimiento de los presentes, el Administrador/Usuario y los
    responsables del sistema Web Geadata se someten a los Tribunales Nacionales en
    lo Contencioso Administrativo.
    </p>

  <h3>Política de privacidad</h3>
  <p>El Administrador/Usuario puede utilizar el sitio web con el único propósito de
    comunicar, informar, modificar y/o efectuar actualización en línea de datos
    concernientes al uso del producto Dat.AR, buscar y compartir información que sea
    de interés al momento de usarse, etc.
    </p>
  <p>Al suministrar información, el Administrador/Usuario asiste al sistema Web de
    GEADATA en el constante proceso de mejora de los servicios disponibles y en el
    desarrollo de nuevos productos, siempre tendiendo a que el uso de los mismos se
    torne más sencillo y ágil para los Administradores/Usuarios.
    </p>
  <p>Proporcionar datos personales supone la aceptación sin reservas de los términos y
    condiciones aquí establecidos. Si tiene dudas al respecto, póngase en contacto con
    el Responsable de Sistemas a través de contacto@geadata.com.ar.
    </p>

  <h3>Información al Administrador/Usuario titular de los datos personales</h3>
  <p></p>

  <h3></h3>
  <p>El Administrador/Usuario que utilice el sitio web podrá proporcionar algunos datos
    personales a efectos de mantenerse en contacto y recibir información respecto de
    servicios que se pongan a disposición de la persona en relación a los servicios
    utilizados .
    </p>
  <p>GEADATA es la responsable de las Bases de Datos a las que se incorporarán los
    datos personales suministrados. Las mismas han sido debidamente registradas ante
    la Dirección Nacional de Protección de Datos Personales en los términos de la Ley
    de Protección de Datos Personales, Nº 25.326.
    </p>
  <p>El Administrador/Usuario es quien se ocupa de que su registro cuente con la
    información veraz y necesaria para decidir de forma expresa, libre y voluntaria si
    desea brindar sus datos personales, informando a tal efecto las consecuencias de
    hacerlo, de la negativa y de la inexactitud de los mismos.</p>
  <p>En ningún caso proporcionar los datos personales es condición para el uso del sitio
    web y sus servicios vinculados. No obstante, si el Administrador/Usuario decide
    voluntariamente proporcionar sus datos personales debe brindar datos veraces,
    exactos y completos. La inexactitud de los mismos puede suponer dificultades para
    establecer un vínculo directo entre el propósito del producto y su uso</p>
  <p>GEADATA conservará los datos personales brindados por los Usuarios hasta el
    momento en que se encuentre extinguida la finalidad para la cual fueron
    recolectados o hasta tanto el titular de dichos datos lo solicite.
    </p>
  <p>El responsable de las Bases de datos puede también ceder los datos personales
    recolectados a otras Dependencias y Organismos dependientes del Sector Público
    Nacional siempre que tal cesión se corresponda con las competencias de la
    Dependencia u Organismo cesionario, en los términos del Artículo 11 inc.3 ap. b y c
    de la Ley Nº 25.326.
    </p>
  <p>El titular de los datos personales podrá resolver de manera autónoma la
    actualización, rectificación y, cuando corresponda, la supresión o el sometimiento a
    confidencialidad de los datos personales provistos, pudiendo acceder en forma
    gratuita a la Base de datos habilitada, la cual se encuentra debidamente inscripta en
    la Secretaría de Gestión e Innovación Pública, del Ministerio de Modernización en
    los términos de la Ley de Protección de Datos Personales, Nº 25.326, y sus normas
    complementarias, salvo que se acredite un interés legítimo a tal fin, conforme lo
    establecido en el artículo 14, inciso 3 de la Ley N° 25.326.
    </p>
  <p>La Dirección Nacional de Protección de Datos Personales, órgano de control de la
    Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que se
    formulen con relación al incumplimiento de las normas sobre protección de datos
    personales.
    </p>

  <h3>Finalidad de los datos recolectados</h3>
  <p>Los datos recolectados tendrán por finalidad:</p>

  <ul>
    <li>Optimizar los servicios brindados por Geadata, mediante sus productos
      tecnológicos .
      </li>
    <li>Para ofrecer información relevante del Administrador/Usuario.
    </li>
    <li>Enviar a las personas notificaciones por SMS, e-mail y/o WhatsApp respecto
      a los servicios utilizados, como por ejemplo, si fue escaneado el código QR.</li>
    <li>Personalizar el contenido visualizado de los Servicios TECNOLÓGICOS
      GEADATA.</li>
    <li>Obtener métricas de uso y niveles de efectividad del producto tecnológico.</li>
  </ul>

  <h3>Seguridad</h3>
  <p>El responsable de la Base de Datos declara que adopta las medidas técnicas y
    organizativas que resulten necesarias para garantizar la seguridad y
    confidencialidad de los datos personales de modo de evitar su adulteración, pérdida,
    consulta o tratamiento no autorizado y que permitan detectar desviaciones de
    información.</p>
  <p>
    Para proteger al sistema integrativo GEADATA y a los Administradores/Usuarios de
cualquier modificación, divulgación o destrucción no autorizada se toman, entre
otros, los siguientes recaudos
  </p>

  <ul>
    <li>Encriptación de las comunicaciones/transferencia de datos mediante
      protocolo TLS/SSL</li>
    <li>Encriptación de las Bases de datos sensibles o consideradas críticas.
    </li>
    <li>Entorno seguro para el equipamiento y los sistemas utilizados para
      almacenar los datos de los usuarios.
      </li>
    <li>Políticas definidas en materia de recolección, almacenamiento y tratamiento
      de datos, incluyendo medidas de seguridad física y controles de acceso a los
      sistemas que emplean los activos digitales.</li>
    <li>Acceso restrictivo a los datos por parte de terceros, basados en el principio
      de “necesidad de saber” y una adecuada separación de funciones,
      asegurando la suscripción y el cumplimiento de las condiciones de
      confidencialidad requeridas por los datos bajo tratamiento.</li>
    <li>Otras medidas de seguridad que resulten de aplicación en cada caso,
      conforme a la normativa vigente.</li>
  </ul>

  <h3>Uso general</h3>
  <p>La utilización de los Servicios Digitales requiere que el Usuario suministre datos
    personales.
    </p>
  <p>En ese caso, el Usuario proveerá:</p>

  <ul>
    <li>Datos sobre el dispositivo: es posible recoger datos específicos sobre el
      dispositivo del Administrador/Usuario como, por ejemplo, el escaneo del QR
      único que posee.</li>
    <li>Datos sobre la ubicación física: al utilizar un activo digital que pueda registrar
      la ubicación física del Administrador/Usuario, es posible llevar a cabo la
      recolección y el tratamiento de datos acerca de la ubicación real.</li>
    <li>Cookies e identificadores anónimos: es posible utilizar diferentes tecnologías
      para recoger y almacenar datos cuando el Usuario accede a un servicio
      prestado por la plataforma web, incluyendo el envío de una o varias cookies o
      de identificadores anónimos a su dispositivo.</li>
    <li>
      Google Analytics: recolectamos información estadística anónima para la
      evaluación y mejora del servicio a través de un servicio prestado por Google
      Analytics. Se utilizan cookies para guardar parte de esta información en el
      dispositivo del Usuario. Los Términos de Uso de Google Analytics están
      disponibles en http://www.google.com/analytics/terms/us.html
    </li>
  </ul>


  <h3>Uso general a través de una cuenta</h3>
  <p>La información personal del Administrador/Usuario que opta por registrarse puede
    contener campos obligatorios:</p>
  <ul>
    <li>Nombres.</li>
    <li>Apellidos.</li>
    <li>Número de teléfono fijo.</li>
    <li>Dirección de correo electrónico.</li>
    <li>Nacionalidad.</li>
    <li>Provincia.</li>
    <li>Localidad.</li>
    <li>Teléfono móvil.</li>
    <li>Dirección.</li>
    <li>Código postal.</li>
    <li>Avisos y alertas de patologías del usuario del producto.</li>
  </ul>

  <h3>Datos sobre el dispositivo</h3>
  <p>Se puede recoger datos específicos sobre el dispositivo mediante el escaneo de
    código de vinculación de los Servicios de los productos tecnológicos, como por
    ejemplo, el modelo de QR medallas acrilicas, ó la versión del sistema con NFC,
    geolocalizador , botón de pánico o identificadores únicos de personas y/o animales
    y los datos sobre la red móvil, incluyendo el número de teléfono.</p>
  <p>Asimismo, el Administrador/Usuarios podrá asociar los identificadores del dispositivo
    o número de teléfono con su cuenta en el sistema de identificación único.
    </p>

  <h3>Datos de Registro</h3>
  <p>El Sistema WEB podrá obtener y almacenar automáticamente determinada
    información en sus registros cada vez que el Administrador/Usuario utilice los
    servicios a su disposición o consulte contenidos.</p>
  <p>Dicha información incluye:</p>

  <ul>
    <li>Información detallada sobre la utilización de los servicios provistos como, por
      ejemplo, los productos tecnológicos vinculados.</li>
    <li>la dirección IP</li>
    <li>cookies, datos que permitirán identificar el navegador o cuenta del
      Administrador/Usuario en el sistema de identificación único.</li>
  </ul>

  <h3>Datos sobre la ubicación física del usuario</h3>
  <p>Al utilizar un activo digital que pueda registrar la ubicación física del Usuario, el
    Administrador puede recolectar y tratar datos acerca de su ubicación real. Estos
    datos son almacenados en forma anónima.
    </p>

  <h3>Cookies e identificadores anónimos</h3>
  <p>GEADATA utiliza diferentes tecnologías para recoger y almacenar datos cuando el
    Administrador/Usuario accede al servicio provisto, incluyendo el envío de una o
    varias cookies o de identificadores anónimos al dispositivo.</p>
  <p>La vinculación entre los datos mencionados y la información que con el transcurso
    del tiempo se genere en el sistema sobre el Administrador/Usuario acerca de los
    trámites y/o acciones realizadas, productos solicitados y concretados, encuestas
    realizadas, datos recolectados de las cuentas de otros servicios en línea enlazados
    voluntariamente, u otros servicios web provistos voluntariamente por el
    Administrador/Usuario, conforman un perfil acerca del mismo.</p>

  <h3>Datos recolectados o provistos por terceros</h3>
  <h3>Google Analytics</h3>
  <ul>
    <li>El Administrador recolecta información estadística anónima para la
      evaluación y mejora del servicio a través de un servicio de terceros (Google
      Analytics).
      </li>
    <li>El Administrador utiliza cookies para almacenar parte de esta información en
      el dispositivo del Usuario.</li>
    <li>En el siguiente enlace puede consultar los Términos de Uso de Google
      Analytics: http://www.google.com/analytics/terms/us.html</li>
  </ul>

  <p>Muchos de los servicios puestos a disposición permiten que los Usuarios compartan
    información entre sí. A su vez, el Administrador/Usuario puede vincular su cuenta en
    el sistema de identificación único con sus perfiles en redes sociales.
    </p>

  <h3>Google</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de Google.</li>
    <li>Google podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de Privacidad de Google.
      </li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su Cuenta de Google a través de una opción en la
      configuración del sistema en cualquier momento.
      </li>
    <li>El Administrador acepta y cumple con la Política de Privacidad definida por
      Google, a la se puede acceder a través del siguiente enlace:
      https://www.google.com/intl/es_ar/policies/privacy.</li>
  </ul>

  <h3>Facebook</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de Facebook.
      </li>
    <li>Facebook podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de privacidad de Facebook.
      </li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su cuenta de Facebook a través de una opción en la
      configuración del sistema en cualquier momento.
      </li>
    <li>El Administrador cumple con la Política de Privacidad definida por Facebook,
      a la que se puede acceder a través del siguiente enlace:
      https://www.facebook.com/about/privacy.
      </li>
  </ul>

  
  <h3>Twitter</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de Twitter.
      </li>
    <li>Twitter podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de Privacidad de Twitter.</li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su cuenta de Twitter a través de una opción en la
      configuración del sistema en cualquier momento.
      </li>
    <li>El Administrador acepta y cumple con la Política de Privacidad definida por
      Twitter, a la que se puede acceder a través del siguiente enlace:
      https://twitter.com/privacy.
      </li>
  </ul>

  <h3>Yahoo</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de Yahoo</li>
    <li>Yahoo podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de privacidad de Yahoo.</li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su cuenta de Yahoo a través de una opción en la
      configuración del sistema en cualquier momento.</li>
    <li>El Administrador acepta y cumple con la Política de Privacidad definida por
      Yahoo, a la que se puede acceder a través del siguiente enlace:
      http://info.yahoo.com/privacy/es/yahoo.
      </li>
  </ul>

  <h3>Foursquare</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de Foursquare.
      </li>
    <li>Foursquare podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de privacidad de Foursquare.</li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su cuenta de Foursquare a través de una opción en la
      configuración del sistema en cualquier momento.</li>
    <li>El Administrador acepta y cumple con la Política de Privacidad definida por
      Foursquare, a la que se puede acceder a través del siguiente enlace:
      https://es.foursquare.com/legal/privacy.
      </li>
  </ul>

  <h3>GitHub</h3>
  <ul>
    <li>El Usuario puede crear su cuenta en el sistema de identificación único y
      relacionarla con su cuenta de GitHub.</li>
    <li>GitHub podrá proporcionar al Administrador información sobre el Usuario
      según lo definido en la política de privacidad de GitHub.
      </li>
    <li>El Usuario puede eliminar la relación entre su cuenta en el sistema de
      identificación único y su cuenta de GitHub a través de una opción en la
      configuración del sistema en cualquier momento.</li>
    <li>El Administrador acepta y cumple con la Política de Privacidad definida por
      GitHub, a la que se puede acceder a través del siguiente enlace:
      https://help.github.com/articles/githubprivacy-policy</li>
  </ul>

  <p>
    En caso de existir contradicción entre las políticas de privacidad de las plataformas
    previamente mencionadas y la legislación local, prevalece la aplicación de la
    legislación de la República Argentina.
  </p>

  <h3>Modificaciones</h3>
  <p>GEADATA se reserva el derecho de modificar en cualquier momento la presente
    Política de Privacidad, comprometiéndose a anunciarlo por medio de un aviso en el
    activo digital que corresponda.</p>

  <h3>Responsabilidad</h3>
  <p>GEADATA no controla ni es responsable por accionar de otros sitios web y otros
    productos y servicios a los cuales se puede acceder por medio de los Servicios
    Digitales, por lo que recomendamos la lectura de la Política de Privacidad de cada
    uno de ellos.</p>

  <h3>Derecho aplicable y Jurisdicción</h3>
  <p>En relación con esta Política de Privacidad rigen las disposiciones de la Ley Nº
    25.326 de Protección de Datos Personales y sus normas complementarias y demás
    normativa de la República Argentina.</p>
  <p>La Autoridad de Aplicación es la Dirección Nacional de Protección de Datos
    Personales, dependiente del Ministerio de Justicia y Derechos Humanos de la
    Nación.</p>
  <p>En caso de surgir cualquier controversia respecto de la interpretación o
    cumplimiento de la presente, la misma será dirimida por los Tribunales en lo
    Contencioso Administrativo Federal con asiento en la Ciudad de Buenos Aires.</p>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>