
  <mat-toolbar>
  <span class="familiar-span">Usuarios</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="openDialog()">
    <span class="material-icons" matTooltip="Agregar familiar">
      person_add
    </span>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>

<div class="container">
  <ng-container *ngFor="let f of familiares">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar style="background-size: cover;background-image: url('{{f.foto}}')"></div>
        <mat-card-title>{{f | name | titlecase}}</mat-card-title>
        <mat-card-subtitle>
          <span *ngIf="f.especie == null">Persona</span>
          <span *ngIf="f.especie != null">Mascota</span>
        </mat-card-subtitle>
      </mat-card-header>     
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-icon>person</mat-icon>
              <mat-panel-description>
                Información personal
              </mat-panel-description>
            </mat-expansion-panel-header>
                <p><u>Nombre</u> : {{ f.nombre }}</p>
                <p><u>Apellido</u> : {{ f.apellido }}</p>
                <p *ngIf="f.especie == null"><u>Tipo de documento</u> : {{ f.documento_tipo }}</p>
                <p *ngIf="f.especie == null"><u>Número</u> : {{ f.documento }}</p>
                <p><u>Teléfono primario</u> : {{ f.telefono_primario }}</p> 
                <p><u>Teléfono secundario</u> : {{ f.telefono_secundario }}</p> 
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-icon>place</mat-icon>
              <mat-panel-description>
                Información de ubicación
              </mat-panel-description>
            </mat-expansion-panel-header>
                <p><u>Domicilio principal</u> : {{ f.direccion_primaria }}</p>
                <p><u>Domicilio alternativo</u> : {{ f.direccion_secundaria }}</p> 
                <p><u>Ciudad</u> : {{ f.ciudad }}</p>
                <p><u>Provincia</u> : {{ f.provincia }}</p>
                <p><u>País</u> : {{ f.pais }}</p>  
          </mat-expansion-panel>
          
          <mat-expansion-panel hideToggle *ngIf="f.especie == null">
            <mat-expansion-panel-header>
              <mat-icon>emergency</mat-icon>
              <mat-panel-description>
                Información médica
              </mat-panel-description>
            </mat-expansion-panel-header>
                <p><u>Diagnóstico</u> : {{ f.diagnostico }}</p>
                <p><u>Medicación</u> : {{ f.medicacion }}</p>
                <p><u>Alergias</u> : {{ f.alergias }}</p>
                <p><u>Factor de sangre</u> : {{ f.factor_sangre }}</p>
                <p><u>Otros datos de interés</u> : {{ f.otros }}</p>  
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle *ngIf="f.especie != null">
            <mat-expansion-panel-header>
              <mat-icon>pets</mat-icon>
              <mat-panel-description>
                Información veterinaria
              </mat-panel-description>
            </mat-expansion-panel-header>
              <p><u>Especie</u> : {{ f.especie }}</p>
              <p><u>Raza</u> : {{ f.raza }}</p>
              <p><u>Características</u> : {{ f.caracteristicas }}</p>
              <p><u>Otros datos de interés</u> : {{ f.otros }}</p>  
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-icon>folder</mat-icon>
              <mat-panel-description>
                Documentos
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="f.documentos.length == 0">No tiene documentos</p>
            <ng-container *ngIf="f.documentos.length != 0" class="d-flex flex-column">
              <div class="d-flex justify-between align-items-baseline" *ngFor="let documento of f.documentos">
                <button mat-raised-button class="w-80 mt-1" (click)="openDocument(documento)">{{ documento.nombre }}</button>
                <button mat-mini-fab color="warn" (click)="deleteDocument(documento)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="addDocument(f)">Agregar Documenación</button>
          <button mat-raised-button color="primary" (click)="editFamiliar(f)">Modificar</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

 