
mat-card{
    padding-top: 10px;    
}

/* Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.productos{
    padding: 10px;
}

.productos-span{
    padding-left: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}


.example-full-width {
    width: 100%;
}
  
td {
    padding-right: 8px;
}