<mat-toolbar>
  <span class="productos-span">Productos</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="cambiar()">
    <span class="material-icons" matTooltip="Vincular producto">
      add_circle_outline
    </span>
  </button>
</mat-toolbar><br>


  <mat-card>
    <mat-card-title>Vinculación de producto</mat-card-title><br>
    <div class="vinculacion" *ngIf="vinculacion==true">

        <!-- vinculación del producto desde informacion -->
        <div class="existente" *ngIf="existente == true">
            <mat-label>Código del producto: </mat-label>{{registro.id}} 
        </div><br>
        <td><mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Familiar a asociar</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="familiares">
                <mat-option *ngFor="let f of familiares" [value]="f.nombre + ' ' + f.apellido">
                  {{f.nombre + ' ' + f.apellido}}
                </mat-option>
              </mat-select>
        </mat-form-field></td>

        <!-- vinculacion del producto desde dashboard -->
        <div class="nueva" *ngIf="existente == false">
              <td><mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Código del producto:</mat-label>
                <input matInput>
              </mat-form-field></td>
        </div><br>
        <td><mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Familiar a asociar</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="familiares">
                <mat-option *ngFor="let f of familiares" [value]="f.nombre + ' ' + f.apellido">
                  {{f.nombre + ' ' + f.apellido}}
                </mat-option>
              </mat-select>
        </mat-form-field></td>
    </div>
  </mat-card>
 

<div class="productos" *ngIf="vinculacion==false">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Informacion">
      <th mat-header-cell *matHeaderCellDef> Información </th>
      <td mat-cell *matCellDef="let element"> <button>Más información</button></td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table> 
</div>


