
mat-card{
    padding-top: 10px;    
}
.example-button-container{
    display: inline-block;
    padding: 3px;
}

/* Structure */
table {
    width: 100%;
  }
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.productos{
    padding-top: 10px;
}

.productos-span{
    padding-left: 10px;
}
.example-spacer {
    flex: 1 1 auto;
}


.example-full-width {
    width: 100%;
}
  
td {
    padding-right: 8px;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.example-flex-container{
    display: inline-flex;
}

.producto{
    width: 10%;
}
.mat-column-Descripcion {
    flex: none;
    width: 30%;
}