<mat-toolbar>
  <span class="familiar-span">Gestión de Lotes</span>
  <span class="example-spacer"></span>
  <button mat-button (click)="generateLote()">
    <span class="material-icons" matTooltip="Agregar Lote">
      add_circle_outline
    </span>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="showSpinner"></mat-progress-bar>
<div class="container">
  <mat-card class="example-card" *ngFor="let lote of lotes">
    <mat-card-title-group>
      <mat-card-title>Datos del lote</mat-card-title>
      <mat-card-subtitle>Cantidad: {{ lote.cantidad }}</mat-card-subtitle>
      <img mat-card-sm-image [src]="lote.producto.imagen" >
    </mat-card-title-group>
    <mat-card-content>
      <p>Código: {{ lote.codigo }}</p>
      <p>Categoria: {{ lote.categoria.categoria }}</p>
      <p>Descripcion: {{ lote.producto.producto }}</p>
      <p>Fecha de creación: {{ lote.fecha | date: 'dd/MM/YYYY'}}</p>
      <p>Diseño: {{ lote.diseno.descripcion }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary" [routerLink]="['../ver-qrs', lote.codigo]">Ver códigos QR</button>
        <button mat-raised-button color="primary" [routerLink]="['../detalle-lote', lote.codigo]">Detalles del Lote</button>
        <button mat-raised-button color="warn" (click)="eliminarLote(lote)">Eliminar Lote</button>
    </mat-card-actions>
  </mat-card>
</div>