<mat-toolbar>
    <span class="familiar-span">Gestión de Marcos</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="createMarco()">
      <span class="material-icons" matTooltip="Agregar Marco">
        add_circle_outline
      </span>
    </button>
</mat-toolbar>
<app-table
    [dataSource]="dataSource"
    [columnas]="columnasTabla"
    [showPaginator]="true"
    [actionButtons]="actionButtons"
    (actionOne)="editMarco($event)"
    (actionTwo)="deleteMarco($event)"
>
</app-table>