<!-- **********************
     **********************
     Formulario de nuevo familiar  --> 

<form [formGroup]="form" (submit)="submitForm()">
  <h2 *ngIf="!data">Nuevo Familiar</h2>
  <h2 *ngIf="data">Modificar Familiar</h2>
  <mat-dialog-content class="mat-typography">
    <h3>Datos personales</h3>
    <div class="modal-body">
      <!-- Datos personales -->
      <!-- Nombre y apellido -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nombre/s</mat-label>
        <input matInput formControlName="nombre" type="text">
        <mat-error *ngIf="form.get('nombre')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Apellido/s</mat-label>
        <input matInput formControlName="apellido" type="text">
        <mat-error *ngIf="form.get('apellido')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- Documento tipo -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="documento_tipo">
          <mat-option *ngFor="let d of tipo_documento" [value]="d.value">
            {{d.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('documento_tipo')?.errors?.['required']">Seleccione tipo de documento</mat-error>
      </mat-form-field>
      <!-- Numero de documento -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Documento</mat-label>
        <input matInput formControlName="documento" type="text">
        <mat-error *ngIf="form.get('documento')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- Direcciones -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Domicilio Principal</mat-label>
        <input matInput formControlName="direccion_primaria" type="text">
        <mat-error *ngIf="form.get('direccion_primaria')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Domicilio Alternativo</mat-label>
        <input matInput formControlName="direccion_secundaria" type="text">
        <mat-error *ngIf="form.get('direccion_secundaria')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- Provincia, localidad, código postal -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Provincia</mat-label>
        <input matInput type="text" formControlName="provincia">
        <mat-error *ngIf="form.get('provincia')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Localidad</mat-label>
          <input matInput type="text" formControlName="ciudad">
          <mat-error *ngIf="form.get('localidad')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- Pais -->
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Pais</mat-label>
          <input matInput formControlName="pais">
      </mat-form-field>

      <!-- Telefono -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Teléfono principal</mat-label>
        <input matInput formControlName="telefono_primario" type="text">
        <mat-error *ngIf="form.get('telefono_primario')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Teléfono secundario</mat-label>
        <input matInput formControlName="telefono_secundario" type="text">
      </mat-form-field>

      <!-- Datos de salud -->
      <h3>Datos de salud</h3>

      <!-- factor sangre y alergias -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Factor sanguíneo</mat-label>
        <mat-select formControlName="factor_sangre">
          <mat-option *ngFor="let f of factorSangre" [value]="f.value">
            {{f.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('factor_sangre')?.errors?.['required']">Seleccione factor sanguíneo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Alergia/s</mat-label>
        <input matInput  formControlName="alergias" type="text">
        <mat-error *ngIf="form.get('alergias')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- diagnostico y medicacion -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Diagnóstico</mat-label>
        <input matInput formControlName="diagnostico" type="text">
        <mat-error *ngIf="form.get('diagnostico')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Medicación</mat-label>
        <input matInput formControlName="medicacion" type="text">
        <mat-error *ngIf="form.get('medicacion')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <!-- otros detalles -->
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Otros datos de interés</mat-label>
        <textarea matInput formControlName="otros" type="text"></textarea>
        <mat-error *ngIf="form.get('otros')?.errors?.['required']">Complete el campo</mat-error>
      </mat-form-field>

      <img [src]="form.get('foto')?.value" class="foto">
       
      <button type="button" mat-stroked-button color="primary" class="example-full-width" (click)="image.click()">Subir Imagen</button>
      <mat-progress-bar color="primary"
          mode="determinate"
          [value]="progress">
      </mat-progress-bar>
      <input hidden type="file" #image mat-raised-button accept="image/*" (change)="uploadImage($event)">
      
      <mat-checkbox class="example-margin" formControlName="checked" (change)="checkState($event)"><span (click)="openDialog()">He leído y acepto los <span style="color: blue">términos y condiciones</span></span></mat-checkbox>
      

    </div>
  </mat-dialog-content>   

  <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="!data">Agregar</button>    
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="data">Modificar</button>    
      <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>    
  </mat-dialog-actions>
</form>
