<mat-card>
    <mat-card-title>
        <h2>Información de vínculo</h2>
    </mat-card-title>
    <mat-card-content>
       
            <mat-label> <u>Persona vinculada</u>: {{data | name | titlecase}}</mat-label><br>
            <mat-label> <u>DNI</u>: {{familiar.documento}}</mat-label><br>
            <mat-label> <u>Dirección primaria</u>: {{familiar.direccion_primaria}}</mat-label><br>
            <mat-label> <u>Ciudad</u>: {{familiar.ciudad}}</mat-label><br>
            <mat-label> <u>Provincia</u>: {{familiar.provincia }}</mat-label><br>
            <mat-label> <u>País</u>: {{familiar.pais}} </mat-label><br>

            <mat-label> <u>Fecha de vinculación</u>: {{data.fecha | date: 'dd/MM/YYYY'}}</mat-label><br>
            <mat-label> <u>Categoría del producto</u>: {{categoria}}</mat-label><br>
            <mat-label> <u>Tipo de producto</u>: {{producto}}</mat-label><br>
            <mat-label> <u>Producto N°</u>: {{lote.id}}</mat-label><br>
            <mat-label> <u>Lote N°</u>: {{lote.codigo}}</mat-label><br>
            <mat-label> <u>Fecha de creación</u>: {{lote.fecha | date: 'dd/MM/YYYY'}}</mat-label><br>
       
      </mat-card-content>
    <mat-card-actions align="end">
       <button mat-raised-button color="primary" mat-dialog-close type="button">Cerrar</button>
      </mat-card-actions>
</mat-card>
